body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

#localvideo {
	z-index: 1;
	position: fixed;
	right: 0px;
	top: 0px;
	transform: rotateY(180deg);
}

#remotevideo {
	z-index: 0;
	display: block;
	margin: 0 auto;
}

#message {
	position: fixed; /* or absolute */
	top: 10%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: white;
	text-color: grey;
}
